{% extends 'base.html' %} 
{% load static %} 

{% block title %}Вход{% endblock %} 

{% block acc %}
<div class="fixed inset-0 grid place-content-center">
  <form
    method="post"
    class="text-2xl font-bold border-3 border-gray-300 rounded-xl bg-gray-50 flex flex-col w-120 h-130 px-6 py-2 pb-6 gap-3"
    novalidate
  >
    {% csrf_token %}
    <div class='flex flex-col w-full mb-2'>
      <span class="text-5xl mt-8 text-shadow-lg text-shadow-gray-300 text-blue-400 text-center gap-1">Cloud9</span>
      <span class="font-light text-lg text-center">Система управления компьютерным клубом</span>
    </div>
    <div class="flex flex-col gap-4 px-4">{{ form }}</div>
    <div class="flex flex-col w-full">
      <button type="submit" class="bg-gray-400 rounded-lg mx-15 py-1 text-3xl mt-15 shadow-xl transition-transform duration-250 hover:bg-gray-500 hover:text-gray-50 hover:scale-105 hover:shadow-gray-400 mb-2">LOGIN</button>
      <a href="{% url 'registration' %}" class="text-center font-light text-xl">Зарегистрироваться</a>
    </div>
  </form>
</div>
{% endblock %}
